body {
  font-family: "Roboto", "Arial", sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  font-weight: 700;
  color: #4c566a;
}

.root {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 65px;
}

.logo-placeholder {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: beige;
  margin-right: 10px;
  /* background: url(../images/close.svg) no-repeat; */
}

.menu {
  display: flex;
  width: 100%;
  padding: 56px 0 0 0;
  background-color: #5e81ac;
  border-radius: 0 90px 0 0;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  display: none;
}

.button-filled {
  color: rgba(67, 76, 94, 1);
  margin: 0 0 16px 30px;
  background-color: white;
  border-radius: 50px;
  height: 50px;
  width: 180px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
}

.button-outlined {
  color: white;
  display: flex;
  width: 245px;
  height: 40px;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 0;
  padding: 13px 0 13px 21.75px;
  font-weight: 400;
  box-sizing: border-box;
  cursor: pointer;
}

.button-filled:hover {
  background-color: #c0c0c0;
  color: black;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.menu-line {
  width: 100%;
  height: 1px;
  background: rgba(236, 239, 244, 0.3);
  margin: 19px 0;
}

.button-outlined:hover {
  background-color: rgba(236, 239, 244, 0.3);
  border-radius: 0 40px 40px 0;
  padding: 13px 0 13px 21.75px;
}

.button-outlined:active {
  background-color: #eceff44d;
}

.svg-icon-add-button {
  margin-right: 10px;
  padding-left: 21px;
  width: 18px;
  height: 18px;
}

.svg-icon-menu {
  margin-right: 10px;
  margin-left: 21.75px;
  width: 18px;
  height: 18px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: rgba(236, 239, 244, 1);
  width: 776px;
  height: 50px;
  border-radius: 50px;
}

.search-input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 640px;
  height: 39px;
  margin-left: 14px;
}

.search-input:focus::placeholder {
  opacity: 0;
}

.search-bar-main-icon {
  padding: 13px 0 14px 0;
  margin-left: 26px;
  height: 23px;
  width: 23px;
}

.search-bar-close-icon {
  margin-left: auto;
  margin-right: 30px;
  order: 3;
  align-items: flex-end;
  height: 23px;
  width: 23px;
}

.header-buttons {
  display: flex;
}

.header-button-icon {
  margin-right: 10px;
}

.user-profile-header {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: url(../images/avatar.svg) no-repeat;
  margin-left: 20px;
}

.file-manager {
  font-size: 12px;
  font-weight: 600;
  color: rgba(129, 161, 193, 1);
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 16px;
  padding: 24px 40px 0 40px;
  background-color: rgba(236, 239, 244, 0.4);
  border-radius: 60px 60px 0 0;
  align-content: start;
}

.file-manager-item {
  display: grid;
  grid-template-columns: 3.25fr 1fr 1fr 1fr 2fr 1fr;
  height: 62px;
  align-items: center;
  border-bottom: 1px solid rgba(129, 161, 193, 0.5);
}

.name-cell {
  display: flex;
  align-items: center;
  color: rgba(67, 76, 94, 1);
  font-weight: 700;
  overflow: hidden;
  padding-right: 20px;
}

.name-cell p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-type-cell,
.size-cell,
.uploaded-cell,
.member-cell {
  font-weight: 400;
}

.svg-icon-table {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.svg-icon-dots {
  width: 23px;
  height: 5px;
  margin-right: 40px;
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  height: 100vh;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
